crop_sec:
- 10.0
- 110.0
current_csv: 671/T3/671_T3_P1_R1_Take 2026-02-03 08.05.01 PM_000.csv
data_dir: data
deriv_method: savgol
derivatives_dir: derivatives
exclude_fingers: true
exclude_groups:
- Fingers
- Toes
filtering:
  allow_fmax: true
  apply_quaternion_median_filter: true
  cutoff_hz: 8.0
  fmax: 12.0
  hampel_n_sigma: 3.0
  hampel_window: 5
  method: 3_stage
  per_joint_winter: true
  quaternion_window_size: 5
  stage1_interpolation_method: pchip
  validation_dance_band_hz:
  - 1
  - 13
  validation_noise_band_hz:
  - 20
  - 50
  velocity_limit: 5000.0
  winter_fmax: 20.0
  winter_fmin: 1.0
  zscore_threshold: 5.0
fs_target: 120.0
health_fallback_cap: 59
health_weights:
  bone: 25.0
  missing: 25.0
  omega: 25.0
  ref: 25.0
joints_viz:
- Hips
- Spine
- Spine1
- Neck
- Head
- LeftArm
- RightArm
- LeftUpLeg
- RightUpLeg
max_gap_pos_sec: 1.0
max_gap_quat_sec: 0.25
min_run_seconds: 5.0
missing_policy_pos: interp_linear_or_spline
missing_policy_quat: interp_slerp
motion_thr_low: 0.3
motion_thr_std: 0.15
omega_frame: child_body
omega_method: quat_log
pos_resample_method: cubic_spline
project_root: .
qc_dir: qc
quat_resample_method: slerp
ref_anchor: static_detection_pre_crop
ref_search_sec: 8.0
ref_window_sec: 1.0
reference_variance_threshold: 100.0
registry_commit_mode: batch_commit_only
required_joints:
- Hips
- Spine
- Head
rotation_rep: rotvec_relative_reference
sg_polyorder: 3
sg_targets: derivatives_only
sg_window_sec: 0.175
shortest_rotation: true
static_search_step_sec: 0.1
step_06:
  enforce_cleaning: false
thresh:
  bone_cv_alert: 0.05
  bone_cv_warn: 0.02
  bone_max_jump_alert_m: 0.03
  bone_p95_abs_dev_warn_m: 0.01
  eps_ref_rv_rad: 0.02
  fs_tol_frac: 0.01
  missing_alert_frac: 0.1
  missing_warn_frac: 0.05
  omega_p99_alert: 60.0
  omega_p99_warn: 30.0
  ref_quality_std_rad_alert: 0.05
  ref_quality_std_rad_warn: 0.03
time_reg_policy: resample_to_fs_target
write_full_csv: true
write_full_parquet: true
write_global_events_jsonl: false
write_run_log_jsonl: false
write_viz_csv: true
